
body
{
  background : linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1)),url("wall.jpg");
  background-size: 1350px 905px;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;

}
.form-control
{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

@media only screen and (max-width:768px)
{
div.social
{
  display:none;
}
}
@media only screen and (max-width:768px)
{
  div.loginbox
  {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;

  }
}
@media only screen and (min-width: 600px)
{
  div.loginbox
  {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    transform: translate(-5%,-3%);
    margin-top: 10%;

  }
}
@media only screen and (max-width: 600px)
{
  div.loginbox
  {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    transform: translate(-3%,-6%);
    margin-top: 150px;

  }
}


.login-home
{
  width: 30%;
  background-color: #000000bd;
  opacity: 0.7;
  position: relative;
  margin: auto auto;
  transform: translate(-7%,-10%);
  margin-top: 150px;
  box-shadow: 8px 12px 68px 115px rgba(0, 0, 0, 0.5);
}


.loginbox
{
  width: 30%;
  background-color: #000000bd;
  opacity: 0.7;
  position: relative;
  margin: auto auto;
  margin-top: 150px;
  box-shadow: 8px 12px 68px 115px rgba(0, 0, 0, 0.5);
}

.avatar
{
  width: 100px;
  height:100px;
  border-radius: 50%;
  top: -50px;
  position: absolute;
  margin-left:50%;
  transform: translateX(-50%);
  border-color: white;

}
h1
{
  color: white;
  text-align: center;
  margin: 0;
  padding: 56px 0px 1px;
  font-size: 30px;
  font-family:Impact, Charcoal, sans-serif;
}
form{
  color: white;
  text-align: left;
  padding: 20px 33px;
font-weight:lighter;


}
.loginButton
{
  text-align: center;

}

.loginButton a
{
  width: 80%;
  margin-left: 5px;

}
a{
  margin-bottom: auto;
  margin-left: 40px;
  margin-top: -10px;
}
.btn-lg
{
  border-radius: 22px;
  padding: 10px 95px;
  font-size: 18px;
  line-height: 1.333333;
}

.login-home input[type='text']
{
   border: none;
   border-bottom: 1px solid white;
   outline: none;
   background: transparent;

}

.loginbox input[type="text"],input[type="password"],input[type="date"],input[list="countries"]
{
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

.loginbox input[type="email"]
{
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

.fa {
  padding: 13px;
  font-size: 20px;
  width: 48px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {

  color: white;
}

.fa-twitter {

  color: white;
}

.fa-google {

  color: white;
}

.fa-linkedin {

  color: white;
}

.fa-youtube {

  color: white;
}

.fa-instagram {

  color: white;
}
.social
{
  text-align:right;
}
body {margin:0}

.icon-bar {
    width: 90px;
    height: 0px;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;

}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
form input[type="checkbox"]
{
  margin: 5px 0 0;
}
p{
  margin: -19px 23px 0;
}
